@use "../../sass/utils/mixins";
@use "../../sass/utils/variables";

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  background-color: white;
  padding: 1.3rem 0 0.6rem 0;
  letter-spacing: 1px;
  position: relative;
  @include mixins.box-shadow-1(variables.$black-shadow);

  @media screen and (min-width: variables.$tablett) {
  font-size: 1.2rem;
  }
}


