@use "../../sass/utils/variables";
@use "../../sass/utils/fontweight";
@use "../../sass/utils/mixins";

.reservation{
  text-align: center;
  background-color: rgb(250, 250, 250);
  padding: 2rem 2rem 3.5rem 2rem;

  &__title{
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
  }

  &__subtitle{
    color: grey;
    margin-bottom: 2.5rem;
  }

  &__button{
    @include mixins.button();
  }

  &__button:hover{
    @include mixins.button-hover();
  }

  @media screen and (min-width: variables.$tablett){
    &__title{
      font-size: 1.7rem;
    }

    &__subtitle{
      color: grey;
      margin-bottom: 2.5rem;
    }

    &__button{
      padding: 1rem 2.5em;
      font-size: 1.4rem;
    }
  }
}