@use "../../sass/utils/variables";
@use "../../sass/utils/fontweight";
@use "../../sass/utils/mixins";

.restaurants {
  background-color: rgb(250, 250, 250);
  padding: 3rem 1.5rem;

  & h2 {
    margin-bottom: 2rem;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media screen and (min-width: variables.$desktop){
      flex-wrap: wrap;
      flex-direction: row;
    }

     & .restaurants__card {
      background-color: white;
      border-radius: 0.5rem;
      position: relative;
       @include mixins.box-shadow-2(variables.$grey-shadow);

       @media screen and (min-width: variables.$tablett){
         flex: 40%;
       }

        @for $i from 1 through 4 {
          &-#{$i}
          {
            background-image: url("../../assets/images/restaurants/restaurant-#{$i}.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 0.5rem 0.5rem 0 0;
            height: 11rem;
            position: relative;
            display: block;
          }
      }

       &-new {
         position: absolute;
         right: 1rem;
         top: 1rem;
         background-color: variables.$lightgreen;
         padding: 0.5rem;
         border-radius: 2px;
         color: darken(variables.$lightgreen, 40%);
         font-weight: fontweight.$bold;
         font-size: 0.8rem;

       }
    }

  }

  &__card:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }

  &__description {
    padding: 1rem;
    position: relative;

    & h3 {
      margin-bottom: 0.2rem;
    }

    & p {
      font-weight: fontweight.$thin;
      font-size: 1.2rem;
      color: variables.$dark-grey;
    }

    & > i {
      position: absolute;
      right: 1.5rem;
      bottom: 2rem;
      @include mixins.heart(white);

      &:hover {
        @include mixins.main-bg-linear-gradient(variables.$purple, variables.$pink);
        @include mixins.heart-hover;
      }

    }
  }
}