@use "../../sass/utils/variables";
@use "../../sass/utils/fontweight";
@use "../../sass/utils/mixins";

.steps{
  background-color: white;
  padding: 3rem 1rem 4rem 1rem;
  counter-reset: my-counter;
  @media screen and (min-width: variables.$tablett){
    padding: 3rem 3rem 4rem 3rem;
  }


  &__title{
    margin-bottom: 2.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: variables.$desktop){
      flex-direction: row;
    }

    > li{
      list-style-type: none;
      display: flex;
      align-items: center;
      counter-increment: my-counter;
      position: relative;
      background-color: #f6f6f6;
      padding: 2rem;
      border-radius: 1.5rem;
      cursor: pointer;
      @include mixins.box-shadow-2(variables.$grey-shadow);

      @media screen and (min-width: variables.$desktop){
        width: 100%;
      }



      &:before{
        content: counter(my-counter);
        color: white;
        position: absolute;
        left: -0.5rem;
        background-color: #9356DC;
        padding: 0.5rem;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1rem;
        border-radius: 999px;
        display: grid;
        place-content: center;
      }

      > i{
        color: grey;
        font-size: 1.4rem;
        margin: 0 2rem 0 1rem;
      }

      > p{
        font-size: 1.1rem;
        font-weight: fontweight.$bold;
      }
    }

    > li:hover i{
      color: variables.$purple;
      transition: color 0.2s ease-in-out;
    }

    > li:hover{
      background-color: #ebe4f5;
      transition: all 0.2s ease-in-out;
    }


  }
}
