// keyframes

/*
Menu cards animation
 */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
Loading spinner fade-out
 */

@keyframes fade-out {
  100%{
    transform: scale(0);
  }
}

/*
Rotation annimation
 */

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

/*
Heart fill
 */

@keyframes fill{
  0%{
    opacity: 0.6;
  }

  100%{
    opacity: 1;
  }
}