@use "variables";

@mixin main-bg-linear-gradient($color1, $color2){
    background: linear-gradient(0, $color1 0%,$color2 100%);
}

@mixin box-shadow-1($shadow-color){
    box-shadow: 0 0 0.5rem $shadow-color;
}

@mixin box-shadow-2($shadow-color-2){
    box-shadow: 2px 3px 8px -2px $shadow-color-2;
}

@mixin heart($background-color){
    font-size: 1.5rem;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

@mixin heart-hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0 white;
    animation: fill 0.4s ease-in-out;
    transform: scale(1.02);
    transition: all 0.3s;
}

@mixin button{
    padding: 1rem 2rem;
    border-radius: 999px;
    color: white;
    @include box-shadow-1(variables.$black-shadow);
    @include main-bg-linear-gradient(variables.$purple, variables.$pink);
    opacity: 1;
}

@mixin button-hover{
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
}
