// colors //

$purple : rgba(147, 86, 220, 1);
$pink : rgba(255, 121, 218, 1) ;
$lightgreen : #99E2D0;
$grey : #f3f3f3;
$dark-grey : #313131;
$black-shadow : rgba(0, 0, 0, 0.25);
$grey-shadow : #c4c4c4;

// breakpoints //

$tablett : 768px;
$desktop : 1024px;